body {
  width: 70%;
  margin: auto;
  text-align: center;
  background-color: #393E46;

}

.dice {
  text-align: center;
  display: inline-block;

}
.btn {
  margin: 20px;
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Arial;
  color: #f00303;
  font-size: 23px;
  background: #4ECCA3;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #8fe089;
  text-decoration: none;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
